@font-face {
  font-family: "Lovelace-Text";
  src: url("../font/lovelace-text-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monument-Extended";
  src: url("../font/monument-extended-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("../font/ProximaNovaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima-Nova-reg";
  src: url("../font/ProximaNovaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratLight";
  src: url("../font/MontserratLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MontserratReg";
  src: url("../font/MontserratRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}