.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logo-footer img {
    margin: 0 auto 15px;
    max-width: 285px;
    width: 100%;
}

.footer__social-media {
    display: flex;
}

#footer .social-media__item {
    width: 60px;
    height: 60px;
    border: 1px solid var(--black);
    transition: 0.5s;
}
#footer .social-media__item:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

#footer .social-media__item img {
    width: 30px;
    height: 30px;
}

.footer-sb-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-menu {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 30px;
}

.footer-menu-hidden {
    display: none;
}

.footer-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 420px;
}

.footer-menu ul:first-child {
    max-width: 400px;
    margin-bottom: 30px;
}

.footer-menu ul:last-child {
    max-width: 335px;
    margin: 0 auto;
}

.footer-menu ul li a {
    font-family: var(--proxima);
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--black);
    transition: color 0.5s;
}

.footer-menu ul li a:hover {
    color: var(--red);
}

.button-rec__footer {
    margin: 0 auto;
}

.footer-contacts-line {
    margin-bottom: 30px;
}

.footer-contacts-line:last-child {
    margin-bottom: 0;
}

.footer-contacts-line img {
    max-width: 19px;
    width: 100%;
    margin-right: 10px;
}

.footer-contacts-line a p {
    font-family: var(--lovelace);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black);
    transition: color 0.5s;
}

.footer-contacts-line a p:hover {
    color: var(--red);
}

.footer-location a,
.footer-email a {
    display: flex;
    align-items: center;
}

.footer-phone .footer-line-wrapp {
    display: flex;
    align-items: flex-start;
}

.footer-text-phone p {
    line-height: 24px;
}

.footer-phone p:first-child {
    margin-bottom: 15px;
}
